<!DOCTYPE html>
<html lang= "pl" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: navbar}"></div>
<div class="row justify-content-center py-4">
    <div class="col-lg-8">
        <div th:if="${failure} != null" class="alert alert-danger" th:text="${failure}" role="alert"></div>
        <div class="card mb-2">
            <b class="card-header">Zmień hasło</b>
            <div class="card-body">
                <form th:action="@{/changePassword}" method="POST">
                    <div class="row mb-2">
                        <label for="oldPassword" class="col-lg-2 col-form-label text-lg-end">Stare hasło<span class="text-danger">*</span></label>
                        <div class="col-lg-10">
                            <input id="oldPassword" name="oldPassword" type="password" class="form-control" minlength="8" required autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="newPassword" class="col-lg-2 col-form-label text-lg-end">Nowe hasło<span class="text-danger">*</span></label>
                        <div class="col-lg-10">
                            <input id="newPassword" name="newPassword" type="password" class="form-control" minlength="8" required autocomplete="off">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Zatwierdź</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>