<!DOCTYPE html>
<html lang="pl" th:attr="data-bs-theme=${session.background != null ? session.background : 'light'}" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{layout :: head}"></head>
    <body>
        <div th:insert="~{layout :: navbar}"></div>
        <div class="row ms-2 me-2 py-4">
            <div class="col">
                <div class="card mb-2">
                    <div class="card-header">
                        <b class="card-text">Wszystkie dodane filmy</b>
                    </div>
                    <div class="card-body text-center">
                        <b class="card-text" th:if="${movies.size == 0}">Nie dodano jeszcze żadnych filmów</b>
                        <div class="row" th:if="${movies.size != 0}">
                            <div class="col-6 col-lg-2" th:each="movie : ${movies}">
                                <div class="mb-2">
                                    <a class="text-decoration-none" th:href="@{'/movie/' + ${movie.id}}">
                                        <img class="rounded w-100 mb-2" th:src="@{'/moviePoster/' + ${movie.id}}" alt="Film">
                                        <b class="card-text"><span th:text="${movie.title}"></span></b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>