<!DOCTYPE html>
<html lang= "pl" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{layout :: head}"></head>
    <body>
        <div th:insert="~{layout :: navbar}"></div>
        <div class="row ms-2 me-2 py-4">
            <div class="col">
                <div class="row mb-2">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-3">
                                <a th:href="@{'/userPicture/' + ${user.username}}"><img class="rounded w-100" th:src="@{'/userPicture/' + ${user.username}}" title="Zdjęcie profilowe"></a>
                            </div>
                            <div class="col-9">
                                <h1 th:text="${user.name + ' ' + user.surname}"></h1>
                                <h3 class="text-body-secondary" th:text="${user.username}"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="text-end" th:if="${0 == 1}" th:text="${ratedMovies.size + ' ocenionych filmów'}"></h5>
                        <p class="text-end" th:text="${'Na FilmKRNL od ' + #dates.format(user.creationDate, 'dd MMMM yyyy')}"></p>
                    </div>
                </div>
                <div class="card mb-4" th:if="${0 == 1}">
                    <div class="card-header">
                        <div class="page-header">
                            <div class="float-start">
                                <b class="card-text">Ostatnio ocenione filmy</b>
                            </div>
                            <div class="float-end">
                                <a class="card-text text-decoration-none" th:href="@{${user.username} + '/ratedMovies'}"><b>Zobacz wszystkie</b></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <b class="card-text" th:if="${ratedMovies.size == 0}">Użytkownik nie ocenił żadnych filmów</b>
                        <div class="row" th:if="${ratedMovies.size != 0}">

                        </div>
                    </div>
                </div>
                <div class="row mb-2" th:if="${authenticated}">
                    <div class="col text-center">
                        <h5>Twój wkład w FilmKRNL</h5>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center" th:if="${authenticated}">
                    <div class="col-auto text-center">
                        <h5 th:text="${user.addedMovies.size + ' dodanych filmów'}"></h5>
                        <a type="button" class="btn btn-primary btn-lg mb-2 mb-lg-0" th:href="@{/createMovie}">Dodaj nowy film</a>
                    </div>
                    <div class="col-auto text-center">
                        <h5 th:text="${user.addedPersons.size + ' dodanych osób'}"></h5>
                        <a type="button" class="btn btn-secondary btn-lg" th:href="@{/createPerson}">Dodaj nową osobę</a>
                    </div>
                </div>
                <div class="card mb-2" th:if="${authenticated}">
                    <div class="card-header">
                        <div class="page-header">
                            <div class="float-start">
                                <b class="card-text">Ostatnio dodane filmy</b>
                            </div>
                            <div class="float-end">
                                <a class="card-text text-decoration-none" th:href="@{/addedMovies}"><b>Zobacz wszystkie</b></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <b class="card-text" th:if="${user.addedMovies.size == 0}">Nie dodałeś jeszcze żadnych filmów</b>
                        <div class="row" th:if="${user.addedMovies.size != 0}">
                            <div class="col-6 col-lg-2" th:each="movie : ${addedMovies}">
                                <a class="text-decoration-none" th:href="@{'/movie/' + ${movie.id}}">
                                    <img class="rounded w-100 mb-2" th:src="@{'/moviePoster/' + ${movie.id}}" title="Film">
                                    <b class="card-text" th:text="${movie.title}"></b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2" th:if="${authenticated}">
                    <div class="card-header">
                        <div class="page-header">
                            <div class="float-start">
                                <b class="card-text">Ostatnio dodane osoby</b>
                            </div>
                            <div class="float-end">
                                <a class="card-text text-decoration-none" th:href="@{/addedPersons}"><b>Zobacz wszystkie</b></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <b class="card-text" th:if="${user.addedPersons.size == 0}">Nie dodałeś jeszcze żadnych osób</b>
                        <div class="row" th:if="${user.addedPersons.size != 0}">
                            <div class="col-6 col-lg-2" th:each="person : ${addedPersons}">
                                <a class="text-decoration-none" th:href="@{'/person/' + ${person.id}}">
                                    <img class="rounded w-100 mb-2" th:src="@{'/personPicture/' + ${person.id}}" title="Osoba">
                                    <b class="card-text" th:text="${person.surname != null || person.surname != '' ? person.name + ' ' + person.surname : person.name}"></b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>